@{
    Layout = "_OfflineLayout";
}

<form action="@Url.Action("Login")" method="post">
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
            <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" name="login" placeholder="Login ( e-mail )">
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
            </div>
        </div>
        
        <div class="text-right">
            <a href="login_password_recover.html">Forgot password?</a>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
        </div>

        <div class="content-divider text-muted form-group"><span>Don't have an account?</span></div>
        <a href="@Url.Action("Index", "SignUp")" class="btn btn-default btn-block content-group legitRipple">Sign up</a>
    </div>
</form>



