################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/src/lucilvio.solo.Webills/.vs/lucilvio.solo.Webills
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp2.2
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Web/bin/Debug
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Web/obj
*.user
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Release/netcoreapp3.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Web/bin/Release/netcoreapp3.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Web/Properties/PublishProfiles
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp3.0/Lucilvio.Solo.Webills.Domain.pdb
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp3.0/Lucilvio.Solo.Webills.Domain.dll
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp3.0/Lucilvio.Solo.Webills.UseCases.pdb
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp3.0/Lucilvio.Solo.Webills.UseCases.dll
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp3.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases.Contracts/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases.Contracts/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain/bin/Release/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases/bin/Release/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases.Contracts/bin/Release/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Queries/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Queries/obj
