################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/src/lucilvio.solo.Webills/.vs/lucilvio.solo.Webills
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp2.2
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Web/bin/Debug
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Web/obj
*.user
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Release/netcoreapp3.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Web/bin/Release/netcoreapp3.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Web/Properties/PublishProfiles
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp3.0/Lucilvio.Solo.Webills.Domain.pdb
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp3.0/Lucilvio.Solo.Webills.Domain.dll
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp3.0/Lucilvio.Solo.Webills.UseCases.pdb
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp3.0/Lucilvio.Solo.Webills.UseCases.dll
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Tests/bin/Debug/netcoreapp3.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases.Contracts/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases.Contracts/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain/bin/Release/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases/bin/Release/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases.Contracts/bin/Release/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Queries/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Queries/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain.Profile/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain.Profile/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain.Security/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain.Security/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain.Shared/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain.Shared/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.Domain/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.Domain/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.UseCases/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.UseCases/obj/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.UseCases/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.UseCases.Contracts/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.UseCases.Contracts/obj/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.UseCases.Contracts/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Profile.Domain/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Profile.Domain/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Profile.UseCases/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Profile.UseCases/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Profile.UseCases.Contracts/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Profile.UseCases.Contracts/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Security.UseCases/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Security.UseCases/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Security.UseCases.Contracts/bin/Debug/netstandard2.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Security.UseCases.Contracts/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.Domain/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.UseCases/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Core.UseCases.Contracts/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain.Security/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Domain.Shared/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Infraestructure.DapperDataStorage/bin/Debug
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Infraestructure.DapperDataStorage/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Infraestructure.EFDataStorage/bin/Debug
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Infraestructure.EFDataStorage/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Profile.Domain/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Profile.UseCases/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Profile.UseCases.Contracts/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Security.UseCases/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Security.UseCases.Contracts/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UseCases/bin/Debug/netstandard2.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Clients.Web.DependencyProxy/obj/Debug
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Infraestructure.NativeDependencyResolver/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UserAccount/bin/Debug/netcoreapp3.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Transactions/bin/Debug/netcoreapp3.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Transactions/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UserAccount/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UserProfile/bin/Debug/netcoreapp3.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UserProfile/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UserAccount/bin/Debug/netcoreapp3.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Dashboard/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Dashboard/bin/Debug/netcoreapp3.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Savings/bin/Debug/netcoreapp3.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Savings/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Web/bine/Debug/netcoreapp3.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Clients.Site/obj/Debug/netcoreapp3.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Clients.Site/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Website/bin/Debug/netcoreapp3.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Website/obj/Debug/netcoreapp3.1/staticwebassets
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Website/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.EventBus/bin/Debug/netcoreapp3.1
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.EventBus/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.EventBus/bin/Debug/net5.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Savings/bin/Debug/net5.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Transactions/bin/Debug/net5.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.UserAccount/bin/Debug/net5.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Website/bin/Debug/net5.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.FinancialControl/bin/Debug/net5.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.FinancialControl/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.EventBus.InMemory/bin/Debug/net5.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.EventBus.InMemory/obj
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Notification/bin/Debug/net5.0
/src/lucilvio.solo.Webills/Lucilvio.Solo.Webills.Notification/obj
