@{
    Layout = "_OfflineLayout";
}

<form action="@Url.Action("Register")" method="post">
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
            <h5 class="content-group">Create account <small class="display-block">All fields are required</small></h5>
        </div>

        <div class="text-muted form-group"><span>Your credentials</span></div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="email" class="form-control" placeholder="Login ( e-mail )" required>
            <div class="form-control-feedback">
                <i class="icon-user-check text-muted"></i>
            </div>
            @*<span class="help-block text-danger"><i class="icon-cancel-circle2 position-left"></i> This username is already taken</span>*@
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="password" class="form-control" placeholder="Password" required>
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>


        </div>
        <div class="form-group has-feedback has-feedback-left">
            <input type="password" class="form-control" placeholder="Password Confirmation" required>
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
        </div>

        <div class="text-muted form-group"><span>Personal Data</span></div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="Your name" required>
            <div class="form-control-feedback">
                <i class="icon-user-check text-muted"></i>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                    Accept <a href="#">terms of service</a>
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block legitRipple">Register <i class="icon-circle-right2 position-right"></i></button>
    </div>
</form>
