@using Lucilvio.Solo.Webills.Transactions.Domain

<div id="modal-edit-expense" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa-minus"></i> Edit Expense - <span id="expense-title-name"></span> </h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <form id="form-edit-expense" action="/Expenses/Edit" method="post">
                <input type="hidden" name="id" />

                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label>Date</label>
                                <input type="text" name="date" class="form-control date" required>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label>Category</label>
                                <select name="category" class="form-control" required>
                                    @foreach(var category in Enum.GetValues(typeof(Category)))
                                    {
                                        <option value="@category">@category</option>
                                    }
                                </select>
                            </div>

                            <div class="col-sm-12 form-group">
                                <label>Value</label>
                                <input type="text" name="value" class="form-control money" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>