@page
@model Lucilvio.Solo.Webills.Website.Home.DashboardModel
@{
    Layout = "_Layout";
}

<div class="row stats-row">
    <div class="col-lg-4 col-md-12">
        <div class="card card-transparent stats-card">
            <div class="card-body">
                <div class="stats-info">
                    <h5 class="card-title">$3,089.67<span class="stats-change stats-change-danger">-8%</span></h5>
                    <p class="stats-text">Total revenue for last  20 days</p>
                </div>
                <div class="stats-icon change-danger">
                    <i class="material-icons">trending_down</i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card card-transparent stats-card">
            <div class="card-body">
                <div class="stats-info">
                    <h5 class="card-title">168,047<span class="stats-change stats-change-success">+16%</span></h5>
                    <p class="stats-text">Unique visitors in current period</p>
                </div>
                <div class="stats-icon change-success">
                    <i class="material-icons">trending_up</i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card card-transparent stats-card">
            <div class="card-body">
                <div class="stats-info">
                    <h5 class="card-title">47,350<span class="stats-change stats-change-success">+12%</span></h5>
                    <p class="stats-text">Total investments in this month</p>
                </div>
                <div class="stats-icon change-success">
                    <i class="material-icons">trending_up</i>
                </div>
            </div>
        </div>
    </div>
</div>
