@page
@model Lucilvio.Solo.Webills.Website.Home.DashboardModel
@{
    Layout = "_Layout";
    ViewData["Menu"] = "Dashboard";
}

<div class="row stats-row">
    <div class="col-lg-4 col-md-12">
        <div class="card card-transparent stats-card">
            <div class="card-body">
                <div class="stats-info">
                    <h5 class="card-title">$ @Model.DashboardInfo.Expenses <span class="stats-change stats-change-danger">-8%</span></h5>
                    <p class="stats-text">Total expenses this month </p>
                </div>
                <div class="stats-icon change-danger">
                    <i class="material-icons">money_off</i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card card-transparent stats-card">
            <div class="card-body">
                <div class="stats-info">
                    <h5 class="card-title">$ @Model.DashboardInfo.Earns<span class="stats-change stats-change-success">+16%</span></h5>
                    <p class="stats-text">Total earns this month</p>
                </div>
                <div class="stats-icon change-success">
                    <i class="material-icons">attach_money</i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card card-transparent stats-card">
            <div class="card-body">
                <div class="stats-info">
                    <h5 class="card-title">$ @Model.DashboardInfo.Balance<span class="stats-change stats-change-success">+12%</span></h5>
                    <p class="stats-text">Balance of the month</p>
                </div>
                <div class="stats-icon change-success">
                    <i class="material-icons">trending_up</i>
                </div>
            </div>
        </div>
    </div>
</div>
