@using Lucilvio.Solo.Webills.Web.Shared

<div id="modal-new-expense" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa-minus"></i>New Expense</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <form action="/Home/AddNewExpense" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>

                        <div class="col-sm-12 form-group">
                            <label>Date</label>
                            <input type="text" name="date" class="form-control date" required value="@DateTime.Now.ToDateString()">
                        </div>

                        <div class="col-sm-12 form-group">
                            <label>Value</label>
                            <input type="text" name="value" class="form-control money" required>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary">+ Add</button>
                </div>
            </form>
        </div>
    </div>
</div>