<div id="modal-save-money" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save Money</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <form action="/Savings" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label>How much money do you want to save?</label>
                            <input type="text" name="value" class="form-control money" value="" placeholder="Value" required>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn bg-primary">Save :)</button>
                </div>
            </form>
        </div>
    </div>
</div>