@model Lucilvio.Solo.Webills.Web.Home.UserTransactionsInformationResponse
@{
    Layout = "_Layout";
    ViewData["title"] = "Dashboard";
    ViewData["icon"] = "icon-home";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-flat border-left-blue">
                    <div class="panel-body">
                        <h2 class="panel-title"><span class="text-semibold">Balance</span></h2>
                        <div class="col-12">
                            <p class="pull-right"><i class="icon-cash3 icon-2x d-inline-block text-blue"></i></p>
                            <h3 class="font-weight-semibold mb-0 text-blue"> @Model.Balance </h3>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-flat border-left-info">
                    <div class="panel-body">
                        <h2 class="panel-title"><span class="text-semibold">Total Earns</span></h2>
                        <div class="col-12">
                            <p class="pull-right"><i class="icon-cash3 icon-2x d-inline-block text-success"></i></p>
                            <h3 class="font-weight-semibold mb-0 text-success"> @Model.TotalEarns </h3>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-flat border-left-warning">
                    <div class="panel-body">
                        <h2 class="panel-title"><span class="text-semibold">Total Spent</span></h2>
                        <div class="col-12">
                            <p class="pull-right"><i class="icon-cash3 icon-2x d-inline-block text-warning"></i></p>
                            <h3 class="font-weight-semibold mb-0 text-warning"> @Model.TotalSpent </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <button class="btn btn-primary" id="btn-save-money">Save Money</button>
            </div>
        </div>
    </div>
</div>

@Html.PartialAsync("_SaveMoney.cshtml").GetAwaiter().GetResult()

@section Scripts {
    <script>
        $("#btn-save-money").on("click", function () {
            $("#modal-save-money").modal("show");
        });
    </script>
}