<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <!-- Main -->
            <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Menu"></i></li>
            <li class="active"><a href='/Home'><i class="icon-home4"></i> <span>Dashboard</span></a></li>
            <li class="active"><a href='/Incomes'><i class="icon-add"></i> <span>Incomes</span></a></li>
            <li class="active"><a href='/Expenses'><i class="icon-subtract"></i> <span>Expenses</span></a></li>
            <li class="active"><a href='/Savings'><i class="icon-subtract"></i> <span>Savings</span></a></li>

        </ul>
    </div>
</div>