<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        @Html.PartialAsync("_UserMenu.cshtml").GetAwaiter().GetResult()
        @Html.PartialAsync("_Menu").GetAwaiter().GetResult()
    </div>
</div>