@{
    Layout = "_OfflineLayout";
}

<form action="@Url.Action("SendMeANewPassword")" method="post">
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
            <h5 class="content-group">Did you forget your password? <small class="display-block">Confirm your e-mail below</small></h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" name="email" placeholder="e-mail">
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>

        <div class="text-right">
            <a href="/Login">Back to Login</a>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Save me <i class="icon-circle-right2 position-right"></i></button>
        </div>
    </div>
</form>



